
body {
  background: #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App {
  height: 400px;
  width: 300px;
  perspective: 0 200px;
  background: #EBEBEB;
  position: relative;
}

.Display {
  background: #000000;
  color: #ffffff;
  text-shadow: 0 0 5px #53727280;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 29px;
  box-sizing: border-box;
  height: 20%;
  overflow: hidden;
  font-size: 24px;
  position: relative;
}

.Buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80%;
}

.Button {
  background: #f0ca78;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f0ca78 0%, #e9e7dc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f0ca78 0%, #e9e7dc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f0ca78 0%, #e9e7dc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cad2c5', endColorstr='#abb5aa', GradientType=1); */
  /* IE6-9 fallback on horizontal gradient */
  display: flex;
  box-sizing: border-box;
  border: 0.4px solid #0000000d;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 24px;
  color: #000000;
  height: 25%;
  min-width: 25%;
}

/* .Button[data-size="2"] {
  height: 40%;
} */

.Button[data-value="null"] {
  pointer-events: none;
}

.Button:hover {
  background: #f1f5ee;
  cursor: pointer;
}

.Button:active {
  background: #bdc7b7;
}
